html,body{
  height: 100%;
}

body{
  text-align: center;
}


.bouton{
  display: inline-block;
}

ul {
  list-style-type: none;
}

.banner{
  height: 30%;
  width: 40%;
}

table,td{
  border: 1px solid black;
}

